/* --------- burger --------- */

.burger {

	width: 30px;
	height: 24px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    display: none;

	@media (max-width: 767px) {
		display: flex;
		align-self: center;
	}

	&__element {
		width: 100%;
		height: 3px;
		position: absolute;
		top: calc(50% - 2px);
		left: 0;
		background-color: #fff;
	}

	&:before,
	&:after {
		width: 100%;
		height: 3px;
		position: absolute;
		left: 0;
		background-color: #fff;
		content: '';
		display: block;
	}

	&:hover::before,
	&:hover::after,
	&:hover .burger__element {
		transition: .33s;
		background-color: var(--color-orange);
	}



	&:before { top: 0; }
	&:after { bottom: 0; }

	&.active:before {
		transform: rotate(45deg);
		top: 10px;
	}

	&.active:after {
		transform: rotate(-45deg);
		bottom: 11px;

	}

	&.active span {
		display: none;
	}

} // burger