
.page-contact {

	.section .container {
		max-width: 600px;
	}

}

.contact {
	

	&-email {
		font: var(--text-size-m);
		margin-bottom: 32px;
	}

	.socials {
		margin-bottom: 52px;
	}

	.contact-form.box {
		border-color: var(--color-orange);
		width: 100%;
		min-height: 480px;

		.section-title {
			margin-bottom: 32px;
		}

		form {
			width: 100%;
			height: 100%;
			margin-bottom: 24px;

			input {
				width: 100%;
				background: var(--color-dark)!important;
				color: #fff;
			    display: flex;
			    align-items: center;
			    transition: .2s;
			    border: 2px solid var(--color-grey-light);
			    margin-bottom: 16px;

			    &:placeholder {
			    	color: var(--color-grey-light);
			    }

				&:focus {
					border-color: var(--color-orange);
				}
			}

			textarea {
				width: 100%;
				background: var(--color-dark)!important;
				color: #fff;
				min-height: 100px;
				resize: none;

				&:focus {
					border-color: var(--color-orange);
				}
			}

			input, textarea {
				font: var(--text-size-m);
			}


		} // form


		.contact-form__text {
			color: var(--color-grey-light);
			font: var(--text-size-s);
			margin-bottom: 32px;
			a {
				text-decoration: none;
				color: #fff;
			}
		}

		.contact-form__button {
			width: 100%;
			display: block;
		}

	} //.contact-form
}