.select {
	position: relative;
	z-index: 3;
	cursor: pointer;

	&.open {
		z-index: 2;
		
		.select__dropdown { display: block; }
		.select__backdrop { display: block; }
	}

	&__input {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 24px;
		cursor: pointer;
		color: #ddd;
	    text-shadow: 1px 1px #111;

	    i { 
    		font-style: normal;
		    font-family: monospace;
		    font-size: 24px;
		    font-weight: bold;
		    border-color: var(--color-orange);
		    transition: .33s;
		  
		    &.arrow-top {
		      	transform: rotate(-45deg);
		    }

		    &.arrow-bottom {
				transform: rotate(135deg);
			}
		}
	}

	&__dropdown {
		width: calc(100% + 4px);
		display: none;
		position: absolute;
		border: 2px solid var(--color-orange);
		border-radius: 24px;
		top: 56px;
		left: -2px;
		right: 0;
		max-height: 200px;
		overflow-y: auto;	
		background: var(--color-dark);
		z-index: 7;
		scrollbar-width: none;
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item {
	    padding: 14px 24px;
	    color: #fff;
	    text-shadow: 1px 1px #111;
	    border-top: 2px solid transparent;
	    border-bottom: 2px solid transparent;

	    &.selected {
	    	color: var(--color-orange);
	        
	        border-color: var(--color-grey);
	      
	      &:hover {
	      	background-color: var(--color-grey);
	      	cursor: default;
	      }
	    }

	    &:hover {
	      background-color: var(--color-grey);
	      cursor: pointer;
	      transition: .2s background;
	    }

	    &:last-child {
	    	border-bottom: none;
	    }
	}

	&__backdrop {
	    position: fixed;
	    display: none;
	    z-index: -1;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    background: transparent;
	}


}