.servers {

	--gap: 26px;
	
	display: flex;
	gap: var(--gap);
	flex-wrap: wrap;

	@media (max-width: 576px) {
		flex-direction: column;
		align-items: center;
	}

	&-item {
		width: 268px;
		// flex: 0 0 264px;
		overflow: hidden;
		position: relative;
		border-radius: 16px;
		border: 2px solid transparent;
		transition: .2s border;
		scroll-snap-align: start;
		cursor: pointer;

		&:hover {
			border-color: var(--color-orange);
		}

		@media (max-width: 1220px) {
		    width: calc((100% - (var(--gap) * 2)) / 3);
	        
		}

		@media (max-width: 990px) {
		    width: calc((100% - var(--gap)) / 2);
		}

		@media (max-width: 576px) {
			width: 100%;
		}

		&__image {
			width: 100%;
			--width: 100%;
			height: var(--width);
			display: block;
			object-fit: cover;
			object-position: top;
		}

		&__info {
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: 90%;
			height: 50px;
			color: #fff;
		}

		&__title {
			font: var(--text-size-m);
			font-weight: 600;
			margin-bottom: 8px;
			text-shadow: 1px 1px #111;
		}

		&__price {
			font: var(--text-size-m);
			text-shadow: 1px 1px #111;
		}
	}// item

} // servers

.servers.x-scroll {

	flex-direction: row;
	flex-wrap: nowrap;

	.servers-item {
		width: 268px;
		flex: 0 0 268px;
	}
} // servers.x-scroll

.servers {

	@media (max-width: 375px) {
		scrollbar-width: thin;
 		scrollbar-color: var(--color-dark) var(--color-dark);
	}
}

/* для Chrome/Edge/Safari */
.servers::-webkit-scrollbar {

	@media (max-width: 375px) {
		height: 10px;
  		width: 4px;
	}
 
}
.servers::-webkit-scrollbar-track {

	@media (max-width: 375px) {
		background-color: var(--color-dark);
	}
  
}

.servers::-webkit-scrollbar-thumb {

	@media (max-width: 375px) {
		background-color: var(--color-dark);
 		border-radius: 0px;
  		border: 4px solid var(--color-dark);
	}
  
}