.servers {
	
	display: flex;
	justify-content: space-between;
	gap: 32px;

	@media (max-width: 1200px) {
		gap: 20px;
	}

	@media (min-width: 577px) and (max-width: 990px) {
		gap: 4vw;
		flex-wrap: wrap;
	}

	@media (max-width: 576px) {
		scroll-snap-type: x mandatory;
		overflow-x: scroll;
		padding-bottom: 10px;
	}

	&-item {
		
		overflow: hidden;
		position: relative;
		border-radius: 20px;
		width: 25%;

		@media (max-width: 990px) {
			width: calc(50% - 2vw);
			border-radius: 34px;
		}

		@media (max-width: 576px) {
			width: 264px;
			height: 264px;
			flex: 0 0 264px;
			scroll-snap-align: start;
		}

		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;
		}

		&__info {
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: 90%;
			height: 50px;
			color: #fff;
		}

		&__title {
			font: var(--text-size-m);
			font-weight: 600;
			margin-bottom: 8px;
			text-shadow: 1px 1px #111;
		}

		&__price {
			font: var(--text-size-m);
			text-shadow: 1px 1px #111;
		}
	}
}